#tfstate files
*.tfstate.*
*.tfstate


#terraform folder
**/.terraform/*

#lock files
.terraform.lock.*
*.tfplan


#Keys
my-key
my-key.pub


#ansible files
Ansible*.txt
ansible/inventory.yaml


#vscode files
.vscode
.vscode/*

#env file used for dockers
.env